
.bg {
    background-image: url("../../images/svg/main/header-background.svg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg1 {
    background-image: url("../../images/png/main/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }